<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>       
     
    <appSettings>
      <!--本机端口默认值-->
      <add key="PortNumber" value="8782" />

      <!--主控板IP默认值-->
      <add key="Mac" value="0.0.0.0.0.0"/>
      <add key="Ip" value="192.168.8.101"/>
      <add key="Mask" value="255.255.255.0"/>
      <add key="Gateway" value="192.168.8.100"/>
      <add key="Server_Ip" value="192.168.8.100"/>
      <add key="Server_Port" value="8000"/>
      
    </appSettings>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
